body {
    font-family: helvetica, arial, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
  }
  #container {
    width: 100%;
    margin:auto;
    
  }
  #content,
  footer {
    padding: 0 15px;
  }
  #Menu div a{
    color:red;
    display: flex;
    display: inline;
    text-align: center;
    font-size: xx-large;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    text-decoration: none;
    border:2px solid red;
  }
  .flex-container{
    display:flex;
    flex-wrap:wrap;
    
    margin:10px 10px;
  }
  #Button {
    padding-top: 50px;
  }
  #Button div a{
    color:red;
    display: flex;
    display: inline;
    text-align: center;
    font-size: xx-large;
    padding-left: 10px;
    border: none;
    text-decoration:dashed;
    border:2px solid red;
  }
  #Button div a:hover{
    color:rgb(4, 4, 87);
  }
  .flex-container div{
    border:1px solid #000;
    padding:10px;
    margin:10px;
  }
  .ImgM p img{
    width: 100%;
    display: flex;
    height: auto;
  }
  #Menu{
    /* margin: auto; */
    margin-left: 20px;
  }
  
  #logo {
    text-align: center;
  }
  header {
    background-color: red;
  }
  header h2 {
    margin: 0;
  }
  header h2 a {
    color: #fff;
    text-decoration: none;
  }
  .Number{
    color: white;
    font-size: 45;
}
  nav ul {
    list-style:none;
    
    display: flex;
    flex-direction: column;
  }
  nav ul li {
    border-bottom: 1px solid #ccc;
    
  }
  nav ul li a {
    display: flex;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 8px 0;
  }
  section img {
    width: 100%;
    height: auto;
  }
  .left-float {
    float: left;
    padding: 0 15px 15px 0;
    width: 50%;
  }
  input[type="text"],
  input[type="email"] {
    padding: 5px;
    font-size: 1.2rem;
  }
  footer {
    border-top: 1px solid #ccc;
    margin: 20px 10px 10px 0;
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
  }
  #lightSlider img{
    width: 300px;
    height: auto;
  }
  #lightSlider{
    margin-left: 50px;
  }
  